<odoo>
  <!-- Top menu item -->
  <menuitem name="UpoBarber" id="main_upobarber_menu" groups="group_upobarber_manager"/>

  <!-- menu categories -->
  <menuitem name="Categorías" id="upobarber_menu" groups="group_upobarber_manager" parent="main_upobarber_menu"/>

  <!-- actions -->
  <menuitem name="Cita" id="cita_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="cita_list_action"/>
  <menuitem name="Empleado " id="empleado_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="empleado_list_action"/>
  <menuitem name="Horario " id="horario_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="horario_list_action"/>
  <menuitem name="Cliente" id="cliente_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="cliente_list_action"/>
  <menuitem name="Reserva " id="reserva_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="reserva_list_action"/>
  <menuitem name="Articulo" id="articulo_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="articulo_list_action"/>
  <menuitem name="Producto" id="producto_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="producto_list_action"/>
  <menuitem name="Tipo Producto" id="tipoproducto_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="tipoproducto_list_action"/>
  <menuitem name="Compra" id="compra_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="compra_list_action"/>
  <menuitem name="Pago" id="pago_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="pago_list_action"/>
  <menuitem name="MetodoPago" id="metodopago_menu" parent="upobarber_menu" groups="group_upobarber_manager" action="metodopago_list_action"/>
</odoo>
